<div fxFlex="1 1 auto" fxLayout="row" fxLayoutGap="4px" style="align-items: center">
  <mat-form-field floatLabel="never" class="field">
    <mat-select
      placeholder="Select an image"
      [(value)]="controlPoints.image">
      <mat-option *ngFor="let image_name of images||[]"
        [value]="image_name">
        {{image_name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-icon-button
    matTooltip="Clear"
    (click)="controlPoints.clear()">
    <mat-icon>delete_forever</mat-icon>
  </button>
</div>
